.main{
  height: 50vh;
}
.service-content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  margin-top: 100px;
}
.content-id {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.id{
    border-bottom: #707070 2px solid;
    margin-bottom: 50px;
}
.inputId {
  border: none;
  height: 35px;
  width: 200px;
  font-size: 28px;
  color: #707070;
}
.inputId:focus {
  outline: none;
}
.connexion{
    font-size: 30px;
    margin-left: 30px;
    border-radius: 50px;
    height: 60px;
    width: 250px;
    background-color: #c2ad74;
    border: none;
}
.text{
  font-size: 80px;
  text-align: center;
  font-family: 'Segoe UI';
  color: #c2ad74;
}
